<div class="w-full p-4">
  <div class="flex w-full justify-center">
    <div class="text-center">
      <h1 class="text-2xl font-bold">World of Warcraft Gem Browser (WotLK 3.3.5)</h1>

      Gems shown: <strong>{{ gems.length }}</strong>
    </div>
  </div>

  <div class="flex w-full mt-4 justify-center">
    <div class="w-56">
        <div class="border border-slate-300 border-collapse p-2">
          <fieldset>
            <legend>
              Player effect
              <br />
              <small>
                <input
                  type="checkbox"
                  id="effect-have-all"
                  [checked]="haveAllSelectedEffects"
                  (change)="toggleHaveAllEffects()"
                  class="mr-1"
                />
                <label for="effect-have-all">Combine selected options</label>
              </small>
            </legend>

            <hr />

            <ul class="mt-4">
              <li *ngFor="let effect of effects" class="list-item mt-1">
                <input
                  type="checkbox"
                  [id]="effect.name"
                  [value]="effect.value"
                  [checked]="selectedEffects.has(effect.value)"
                  (change)="toggleEffect(effect.value)"
                />
                <label class="ml-1" [for]="effect.name"> {{ effect.value }} </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->

        <div class="border border-slate-300 border-collapse p-2 mt-4">
          <fieldset>
            <legend>Color</legend>

            <ul class="mt-4">
              <li *ngFor="let color of colors" class="list-item mt-1">
                <input
                  type="checkbox"
                  [id]="color.name"
                  [value]="color.value"
                  [checked]="selectedColors.has(color.value)"
                  (change)="toggleColor(color.value)"
                />
                <label class="ml-1" [for]="color.name"> {{ color.value }} </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->

        <div class="border border-slate-300 border-collapse p-2 mt-4">
          <fieldset>
            <legend>Quality</legend>

            <ul class="list-group list-group-flush">
              <li *ngFor="let quality of qualities" class="list-group-item">
                <input
                  type="checkbox"
                  [id]="quality.name"
                  [value]="quality.value"
                  [checked]="selectedQualities.has(quality.value)"
                  (change)="toggleQuality(quality.value)"
                />
                <label class="ml-1" [for]="quality.name"> {{ quality.value }} </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->
    </div>
    <!-- /left-side-->

    <div class="w-3/5 ml-4 border border-slate-300 border-collapse p-4">
      <table class="table-auto w-full">
        <thead>
          <tr>
            <th class="p-1 text-left">Color</th>
            <th class="p-1 text-left">Name</th>
            <th class="p-1 text-left">Effect</th>
            <th class="p-1 text-left">Where to get</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let gem of gems" class="odd:bg-slate-100 even:bg-white">
            <td class="p-2">
              <div [ngClass]="getSquareColor(gem.color)"></div>
            </td>
            <td class="p-2">{{ gem.name }}</td>
            <td class="p-2">{{ getStatsEffect(gem.stats) }}</td>
            <td class="p-2">{{ gem.source }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>