.left-side {
  .checkbox-col {
    margin-bottom: 1.5rem;

    fieldset ul li {
      label {
        cursor: pointer;
      }

      input {
        margin-right: 0.5rem;
      }
    }
  }
}

.right-side {
}
