<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>World of Warcraft Gem Browser (WotLK 3.3.5)</h1>

      Gems shown: {{ gems.length }}
    </div>
  </div>

  <div class="row">
    <div class="col col-3 left-side">
      <div class="row">
        <div class="col checkbox-col">
          <fieldset>
            <legend>Player effect</legend>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <input type="checkbox" id="player-effect-strength" />
                <label for="player-effect-strength"> Strength </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-intellect" />
                <label for="player-effect-intellect"> Intellect </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-agility" />
                <label for="player-effect-agility"> Agility </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-critical" />
                <label for="player-effect-critical"> Critical strike </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-spirit" />
                <label for="player-effect-spirit"> Spirit </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-haste" />
                <label for="player-effect-haste"> Haste </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-spellpower" />
                <label for="player-effect-spellpower"> Spell power </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-attackpower" />
                <label for="player-effect-attackpower"> Attack power </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-mp5" />
                <label for="player-effect-mp5"> Mana regeneration </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-defense" />
                <label for="player-effect-defense"> Defense </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-block" />
                <label for="player-effect-block"> Block </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-parry" />
                <label for="player-effect-parry"> Parry </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-dodge" />
                <label for="player-effect-dodge"> Dodge </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-stamina" />
                <label for="player-effect-stamina"> Stamina </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-spellpen" />
                <label for="player-effect-spellpen"> Spell Pen </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-armpen" />
                <label for="player-effect-armpen"> Armor Pen </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="player-effect-resilience" />
                <label for="player-effect-resilience"> Resilience </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->

        <div class="col checkbox-col">
          <fieldset>
            <legend>Color</legend>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <input type="checkbox" id="color-red" />
                <label for="color-red"> Red </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="color-blue" />
                <label for="color-blue"> Blue </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="color-yellow" />
                <label for="color-yellow"> Yellow </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="color-orange" />
                <label for="color-orange"> Orange(Red/Yellow) </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="color-purple" />
                <label for="color-purple"> Purple(Red/Blue) </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="color-green" />
                <label for="color-green"> Green(Blue/Yellow) </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->

        <div class="col checkbox-col">
          <fieldset>
            <legend>Quality</legend>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <input type="checkbox" id="quality-red" />
                <label for="quality-red"> Red </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="quality-uncommon" />
                <label for="quality-uncommon"> Uncommon </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="quality-perfect" />
                <label for="quality-perfect"> Perfect uncommon </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="quality-rare" />
                <label for="quality-rare"> Rare </label>
              </li>

              <li class="list-group-item">
                <input type="checkbox" id="quality-epic" />
                <label for="quality-epic"> Epic </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->
      </div>
    </div>
    <!-- /left-side-->

    <div class="col col-9 right-side">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Effect</th>
            <th scope="col">Where to get</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gem of gems">
            <td>{{ gem.name }}</td>
            <td>{{ getStatsEffect(gem.stats) }}</td>
            <td>{{ gem.source }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
