<div class="container">
  <div class="row row-header">
    <div class="col text-center">
      <h1>World of Warcraft Gem Browser (WotLK 3.3.5)</h1>

      Gems shown: <strong>{{ gems.length }}</strong>
    </div>
  </div>

  <div class="row">
    <div class="col col-3 left-side">
      <div class="row">
        <div class="col checkbox-col border">
          <fieldset>
            <legend>
              Player effect
              <small>
                <input
                  type="checkbox"
                  id="effect-have-all"
                  [checked]="haveAllSelectedEffects"
                  (change)="toggleHaveAllEffects()"
                />
                <label for="effect-have-all">Have all selected</label>
              </small>
            </legend>

            <ul class="list-group list-group-flush">
              <li *ngFor="let effect of effects" class="list-group-item">
                <input
                  type="checkbox"
                  [id]="effect.name"
                  [value]="effect.value"
                  [checked]="selectedEffects.has(effect.value)"
                  (change)="toggleEffect(effect.value)"
                />
                <label [for]="effect.name"> {{ effect.value }} </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->

        <div class="col checkbox-col border">
          <fieldset>
            <legend>Color</legend>

            <ul class="list-group list-group-flush">
              <li *ngFor="let color of colors" class="list-group-item">
                <input
                  type="checkbox"
                  [id]="color.name"
                  [value]="color.value"
                  [checked]="selectedColors.has(color.value)"
                  (change)="toggleColor(color.value)"
                />
                <label [for]="color.name"> {{ color.value }} </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->

        <div class="col checkbox-col border">
          <fieldset>
            <legend>Quality</legend>

            <ul class="list-group list-group-flush">
              <li *ngFor="let quality of qualities" class="list-group-item">
                <input
                  type="checkbox"
                  [id]="quality.name"
                  [value]="quality.value"
                  [checked]="selectedQualities.has(quality.value)"
                  (change)="toggleQuality(quality.value)"
                />
                <label [for]="quality.name"> {{ quality.value }} </label>
              </li>
            </ul>
          </fieldset>
        </div>
        <!-- /checkbox-col -->
      </div>
    </div>
    <!-- /left-side-->

    <div class="col col-8 right-side border">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Color</th>
            <th scope="col">Name</th>
            <th scope="col">Effect</th>
            <th scope="col">Where to get</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let gem of gems">
            <td>
              <div [ngClass]="getSquareColor(gem.color)"></div>
            </td>
            <td>{{ gem.name }}</td>
            <td>{{ getStatsEffect(gem.stats) }}</td>
            <td>{{ gem.source }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
